body {
    margin: 0;
    padding: 0;
    text-align: left;
    min-height: 100vh;
    background-color: black; /* Changed background to black */
    overflow: hidden;
}

header {
    position: relative;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    opacity: 0;
    animation: fadeIn 8s ease forwards, floating 2s ease infinite;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 50px;
}

h1 span:nth-child(2) {
    font-weight: bold;
    font-family: serif;
    font-size: 70px;
}

p {
    opacity: 0;
    animation: fadeIn 10s ease forwards;
    font-size: 20px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.blob {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5); /* Initial color */
    border-radius: 50%;
    mix-blend-mode: overlay;
    pointer-events: none; /* Ensures it doesn't interfere with mouse events */
    z-index: 9999; /* Ensure it's on top */
    animation: blobGlow 5s ease-in-out infinite alternate;
}

@keyframes blobGlow {
    0% {
        transform: scale(1);
        box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        transform: scale(1.2);
        box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.8);
    }
}

.button:hover {
    background-color: white;
    color: black;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

footer a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

footer a:hover {
    color: black;
}
